:root {
  --green: #71836e;
  --light-green: #f0f3ef;
  --black: #2e342d;
  --white: #ffffff;
  --border-radius: 15px;
  --default: 0px 2px 8px rgba(113, 131, 110, 0.2);
  --hover: 0px 2px 8px rgba(113, 131, 110, 0.4);
  --transition: 200ms ease-in-out;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--black);
  font-size: 16px;
  line-height: 125%;
  background-color: var(--light-green);
  margin: 0;
}

.container {
  max-width: 800px;
  padding: 48px 16px;
  position: relative;
}

.hero-image {
  max-height: 200px;
  display: block;
  margin: 24px auto;
  opacity: 80%;
}

h1 {
  font-family: "Vollkorn", serif;
  color: var(--green);
  font-size: 48px;
  text-align: center;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 8px;
  border-radius: var(--border-radius);
  background: #ffffff;
  box-shadow: var(--default);
  margin-bottom: 24px;
  -webkit-appearance: none;
}

.search-bar:hover,
.search-bar:focus-within {
  box-shadow: var(--hover);
}

form,
input {
  background: none;
  border: none;
  width: 100%;
  color: var(--black);
  outline-color: var(--white);
  -webkit-appearance: none;
  outline-offset: 2px !important;
}

input::placeholder {
  color: var(--green);
}

.results {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 16px;
  background: var(--white);
  box-shadow: var(--default);
  border-radius: var(--border-radius);
  border: none;
}

h2 {
  font-family: "Vollkorn", serif;
  font-size: 36px;
  color: var(--black);
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 8px;
  background: var(--white);
  box-shadow: var(--default);
  border-radius: var(--border-radius);
  border: none;
}

.definition {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.details {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.audio {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 50%;
  justify-content: center;
  align-items: center;
}

a.play {
  color: var(--green);
  background: none;
  border: none;
  padding: 0;
  margin-right: 8px;
  border-radius: 100px;
  transition: var(--transition);
  -webkit-appearance: none;
  box-shadow: var(--default);
}

a.play:hover {
  color: var(--black);
  border: none;
  border-radius: 100px;
  box-shadow: var(--hover);
}

.green {
  color: var(--green);
}

button.speech {
  color: var(--green);
  background-color: var(--white);
  border-radius: 30px;
  box-shadow: var(--default);
  transition: var(--transition);
  border: 2.2px var(--green) solid;
  padding: 8px;
  margin-right: 8px;
  font-size: 16px;
  font-weight: 600;
}

button:hover {
  box-shadow: var(--hover);
  color: var(--black);
  border: 2.2px var(--black) solid;
}

h3 {
  font-family: "Vollkorn", serif;
  font-size: 22px;
  color: var(--black);
  margin: 0;
}

h4 {
  font-size: 22px;
  margin: 0;
}

h5 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.example {
  display: flex;
  flex-direction: column;
  gap: 0px;
  color: var(--green);
  font-style: italic;
  font-size: 16px;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  position: relative;
}

footer {
  margin-top: 24px;
  text-align: center;
}

a {
  text-decoration: none;
  transition: var(--transition);
  color: var(--green);
  font-weight: 600;
}

a:hover {
  color: var(--black);
}
